@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');





/* Estilos responsivos */
@media (max-width: 768px) {
    .card-content {
        height: 100px;
    }

    .card-content img {
        max-height: 60px;
    }
}






body.cafam-layout {
    background-color:white;
    font-family: "Montserrat", sans-serif;
}

#nav-cafam {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #0E4194;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 9999999;
}

#wrapper-logo-cafam {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 102px;
    box-sizing: border-box;
    width: 50%;
}



#wrapper-search-cafam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container-buttons-reponsive-index  {
  display: none !important;
}

#main-section-cafam {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 88px);
    padding-top: 30px;
}

#left-wrapper-cafam {
    display: flex;
    justify-content: left;
    padding-left: 100px;
    box-sizing: border-box;
    align-items: center;
    width: 50%;
    height: 100%;
}

#wrapper-content-cafam {
    display: flex;
    flex-direction: column;
    width: 90%;height: 80%;
    gap: 0;
}


#wrapper-titles-cafam {
    display: flex;
    flex-direction: column;
    height: 130px;
    overflow: hidden;
    justify-content: start;
    align-items: start;
    padding-top: 0;
    gap: 0;
    margin-top: 80px;
}

#first-h1-left, 
#second-h1-left {
    padding: 0;
    margin: 0;
    line-height: 1.1;
}

#wrapper-titles-cafam h1 {
    margin-top: 0;
}

#left-wrapper-cafam p {
    font-size: 25px;
    color: #002A42;
    text-align:  justify;
    margin-top: -5px;
}

#left-wrapper-cafam button {
    width: 200px;
    height: 40px;
    border: none;
    background-color: #0750A0;
    font-size: 25px;
    color: white;
}

#right-wrapper-cafam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#right-wrapper-cafam img {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    max-width: 600px;
    
}

#first-h1-left{
    font-size: 50px;
    color: #002A42;
}

#second-h1-left {
    font-size:50px ;
    color: #0064A7;
}

#universities-cafam-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:900px;
    background-color: #0750A0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-sizing: border-box;
    gap: 50px;
    justify-content: center;
}

#separator-cafam-universities {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 20px;
}

#upper-section-universities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lower-section-universities {
    justify-content: space-between;
}

#wrapper-upper-universities-cafam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% ;
    height: 100%;
    box-sizing: border-box;
}

#wrapper-slider-upper-universities {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    max-width: 100%;
}

#wrapper-slider-lower-universities {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.card-upper-universities {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 120px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.card-upper-universities:hover {
    transform: scale(1.02);
}

.card-upper-universities img {
    width: 65% !important;    
    height: auto;    
    object-fit: cover; 
    object-position: center;
    max-height: 70px;
    
}

.card-lower-universities {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 120px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.card-lower-universities:hover {
    transform: scale(1.02);
}

.card-lower-universities img {
    width: 65% !important;    
    height: auto;   
    object-fit: cover; 
    object-position: center;
    max-height: 70px;
    
}

#wrapper-lower-universities-cafam {
  display: flex;
  flex-direction: column;
  justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 40px;
}

.block-universities {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



.wrapper-title-cafam-universities {
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container-component-certificacionts-cafam {
    display: flex;
    width: 100%;
    height: 1650px;
    margin-top: 40px;
    overflow: hidden;
}

#wrapper-industry-cafam {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 420px;
    background-color:#4fa4ff ;
    border-top-right-radius: 50px;
    margin-top: 0px;
}


#wrapper-title-industry-cafam {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    left: 0;
    
}

.container-results-cafam {
  display: flex;
  position: absolute;
  top: 1660px;
  flex-direction: column;
  width: 250px;
  overflow-y: scroll;
  left: 50%;
  transform: translate(-50%);
  z-index: 99999;
  gap: 20px;
  background-color: #0750A0;
  border-radius: 20px;
  height: calc(100vh - 280px);
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 0;
  border: 1px dotted white;
}



#wrapper-title-industry-cafam h1 {
    color: white;
    font-size: 40px;
}

#wrapper-flags-industry {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: 50%;
    gap: 20px;
   
}


.card-flag-industry {
    display: flex;
    width: 200px;
    height: auto;
    overflow: hidden;
    transition: transform 0.4s ease;
    
}

.card-flag-industry:hover {
    transform: scale(1.05);
}

.card-flag-industry img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

/* Contenedor principal */
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Wrapper del slider */
.slider-wrapper {
    position: relative;
    width: 60%;
    overflow: hidden;
    box-sizing: border-box;
    padding: auto;
}


.slider-content {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slider-item {
    flex-shrink: 0;
    padding: 0 10px;
}

.slider-card {
    margin: 0 auto;
}

.card-content {
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    cursor: pointer;
    transition: transform 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    max-width: 250px;
}

.card-content:hover {
    transform: scale(1.02);
}

.card-content img {
    width: 80%;
    height: auto;
    max-height: 80px;
    object-fit: contain;
    object-position: center;
}

/* Contenedor de los dots */
.slider-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
}

/* Estilo individual de cada dot */
.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Dot activo */
.dot.active {
    background-color: #2563eb;
}





.container-buttons-pagination-cafam {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1220px;
    left: 30px;
    width: 1150px;
    height: 100px;
    color: #0750A0;
  }

  .container-buttons-pagination-cafam button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #0750A0;
    color: white;
    cursor: pointer;
  }
  


  .title-category-cafam {
    display: flex;
    width: 100%;
    justify-content: left;
    padding-left: 45px;
    align-items: center;
    height: 80px;
    position: absolute;
    top: 1645px;
    overflow: hidden;
    color: #0750A0;
    font-size: 25px;
  }

  
.container-tags-cafam {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1190px;
    height: 100px;
    top:1810px;
    left: 310px;
    box-sizing: border-box;
    overflow-x: scroll;
    border-bottom: 1px solid #0750A0;
    color:#0750A0 ;
    text-align: center;
    justify-content: center;
    align-items: center;
  
  }

  .index-container-cafam {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: auto;
   top: 1750px;
   left: 25px;
    padding: 0px;
    box-sizing: border-box;
    transition: transform 2s ease;
    color: #0750A0;
    overflow-y: hidden;
  }

  .category-wrapper-cafam {
    display: flex;
    top: 250px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative  ;
    width: 100%;
    height: 1000px;
    margin-left: 30px;
  
  }

  .category-item-cafam {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    width: 95%;
    height: 40px;
    color: #F6F4EF;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 30px;
  
  }
  
  .category-item-cafam span {
    display: flex;
    gap: 20px;
    justify-self: center;
    align-self: center;
    padding: 0;
    font-size: 25px;
    color: #0750A0;
  }

  .subsection-link-cafam {
    color: #0750A0;
  }


  .subsection-link-cafam {
    color: #0750A0;
    text-decoration: none;
  }
  
  .subsection-link-cafam:hover {
    color: #0750A0;
    
  }


  #container-logo-platforms-cafam {
    display: none;
    position: absolute;
    align-items: center;
    width: 1190px;
    height: 100px;
    top: 1650px;
    left: 290px;
  }


  .certifications-container-cafam {
    display: flex;
    position: absolute;
    width: 1220px;
    height: auto;
    top: 1970px;
    left: 290px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .certification-card-cafam {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 280px;
    height: 280px;
    background-color: white;
    color: #0F090B;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #0750A0;
    font-size: 15px;
    
  }

 
  .certification-card-cafam a {
    text-decoration: none;
  }
  
  .certification-card-cafam h3 {
    position: absolute;
    left: 20px;
    right: 10px;
    top: 140px;
    word-wrap: break-word;
    font-size: 16px;
    text-decoration: none;
    color: #0F090B;
    text-align: left;
  }
  
  .container-img-card-cafam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  
  }
  
  .container-img-card-cafam img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .tag-category-cafam {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 230px;
    left: 15px;
    font-weight: 20px;
    width: 130px;
    height: 35px;
    background-color: #034694;
    border-radius: 20px;
    color: #F6F4EF;
    border: 1px solid #F6F4EF;
    font-size: 14px;
  }
  
  
  .tag-platform-cafam {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 230px;
    left: 155px;
    font-weight: 25px;
    width: 100px;
    height: 35px;
    border: 2px solid #034694;
    border-radius: 20px;
    color: #F6F4EF;
    z-index: 1;
  
  }
  
  .tag-platform-cafam img {
    width: 90%;
    height: auto;
    z-index: 99999;
  }
  

  .wrapper-search-bar-cafam {
    margin: 1rem 0;
  }
  
  .wrapper-search-bar-cafam.desktop-style {
    display: flex;
    position: absolute;
    z-index: 9;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    top: 1720px;
    left: 290px;
    width: 1220px;
    height: 60px;
        }
  
  
  .wrapper-search-bar-cafam.mobile-style {
    display: none;
  }


  .input-cafam {
    width: 200px;
    padding: 10px 20px 10px 15px;
    justify-content: center;
    border-radius: 9999px;
    border: solid 3px #0750A0;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    margin-right: 10px; 
    background-color: #F6F4EF;
  }
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .input-cafam:focus {
    opacity: 1;
    width: 250px;
  }



  #grid-main-content-cafam {
    display: grid;
    grid-template-columns:70% 30%;
    grid-template-rows: repeat(4, auto);
    position: absolute;
    width: 100%;
    top: 150px;
    left: 0px;
    padding: 25px;
    row-gap: 20px;
    column-gap: 20px;
    background-color: white;
    box-sizing: border-box;
  }

  #container-button-url-original-cafam {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-left: 5px;
  }
  
  .button-url-original-cafam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 40px;
    border-radius: 30px;
    border: none;
    color: #F6F4EE;
    background-color: #0E4194;
    cursor: pointer;
    transition: transform .3s ease-in-out;
  }
  

  .fast-info-cafam {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 15px;
    width: 260px;
    height: 140px;
    border-radius: 30px;
    background-color: #0E4194;
    box-sizing: border-box;
    color: white;
  }
  
  .fast-info-cafam h3 {
    margin-top: 1px;
    color: #F6F4EF;
    font-size: 20px;
  }
  #container-areas,
  #container-classes,
  #container-promotion  {
    display: none;
  }


  #wrapper-title-areas-cafam {
    display: none;
  }


  #wrapper-show-areas-cafam {
    display: none;
  }

  #wrapper-slider-masterclass-cafam {
    display: none
    
    ;
  }


  #wrapper-title-classes-cafam {
    display: none;
  }

  #promotion-grid-cafam {
    display: none;
  }

  
.unfold-list-cafam {
    display: flex;
    position: absolute;
    text-align: left;
    font-size: 15px;
    top: 50px;
    margin-left: 40px;
    flex-direction: column;
    color: #F6F4EF;
    gap: 5px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    color: #0E4194;
  
  }


  #title-certifications-cafam {
    display: flex;
    position: absolute;
    left: 290px;
    width: 1220px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #0E4194;
    font-size: 28px;
    box-sizing: border-box;
    padding-right: 60px;
  }


  .container-main-info-cafam {
    display: grid;
    grid-column: 1;
    justify-items: left;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 30px;
    padding: 0 40px 20px 40px;
    box-sizing: border-box;
    position: relative;
    grid-row: 1;
    grid-column: 1;
  }


  .tag-cafam {
    width: auto;
    margin-left: 15px;
    padding: 20px;
    box-sizing: border-box;
    height: 25px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    background-color: #0E4194;
  }
  
  .tag-cafam button {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
  }


  #footer-images-cafam {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 150px;
    background-color: #0750A0;
    flex-direction: column;
    
  }

  #upper-footer {
    display: flex;
    flex-direction: row;
    height: 100px;
    
  }

  #lower-footer {
    display: flex;
    flex-direction: row;
    height: 100px;
  }

  #footer-cafam {
    display: flex;
    width: 100%;
    background-color: #0750A0;
    height: 100px;
  }








  @media (max-width: 500px) {

    .wrapper-slide {
          padding-left: 3px;
      }


      .label-type { 
          position: absolute;
          top: 40px;
          color: white;
          font-size: 19px;
      }

 .button-left {
  left: -3px;
}

.button-right {
  right: -7px;
}
}

@media (max-width:1400px) {

  #container-promotion {
    width: 90%;
    height: auto;
    background-color: #F6F4EF;
    border-radius: 30px;
    padding: 0 40px 20px 40px;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }


  #container-classes {
    width: 90%;
    height: auto;
    background-color: #F6F4EF;
    border-radius: 30px;
    padding: 0 40px 20px 40px;
    box-sizing: border-box;
    margin-top: 20px;
    overflow-x: hidden;
  }

  #container-areas {
    width: 90%;
    height: auto;
    background-color: #F6F4EF;
    border-radius: 30px;
    padding: 0 40px 20px 40px;
    box-sizing: border-box;
    margin-top: 20px;
    left: 0;

  }

  .container-main-info {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: #F6F4EF;
    border-radius: 30px;
    padding: 0 40px 20px 40px;
    box-sizing: border-box;
    position: relative;
    left: 0;
    margin: 0;
  }


  #wrapper-name-certification {
    display: flex;
    padding-left: 10px;
    width: 98%;
    text-align: left;
  }

  #wrapper-logo-certification {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  #wrapper-logo-certification img {
    width: 330px;
    height: 180px;
  }

  #grid-main-content {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    position: absolute;
    width: 100%;
    top: 150px;
    left: 0px;
    padding: 0;
  }


  #wrapper-logos {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    gap: 1px;
  }


  .container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    cursor: pointer;

  }

  .container-logo img {
    width: auto;
    height: auto;
    transform: scale(0.1);
  }

  #wrapper-new-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  #button-new-courses {
    width: auto;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #F6F4EF;
    font-size: 19px;
    text-decoration: underline;
    cursor: pointer;
  }


  #container-logo-platforms {
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    top: 400px;
  }

  .title-category {

    margin-top: 80px;
  }

  #start-now {
    display: none;
  }

  .wrapper-certifications {
    display: grid;
    padding: 0px;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 1px;
    width: 100%;
    height: 100%;
    justify-items: center;
    overflow: hidden;
  }

  .button-start-now {
    display: none;
  }

  .nav-main {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .container-burguer-button {
    display: flex;
    position: absolute;
    left: 25px;
  }


  .wrapper-logo-nav {
    display: flex;
    margin-left: 0;
    margin: 0 auto;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
  }

  .wrapper-logo-nav a {
    display: flex;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
  }


  .logo-nav {
    transform: scale(0.3);
    margin: 0;
  }


  .navigation-menu {
    display: none;
  }

  .menu-responsive-1 {
    display: flex;
    position: fixed;
    top: 120px;
    left: -100%;
    width: 100px;
    flex-direction: column;
    width: 100%;
    background-color: #0F090B;
    height: calc(100vh - 100px);
    transition: transform 0.5s ease;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: left 0.5s ease;
  }

  .container-tags-cafam {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    left: 0;
    height: 120px;
    top: 430px;
    left: 0;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-x: scroll;
  }

  .tag-cafam {
    width: auto;
    margin-left: 15px;
    padding: 20px;
    box-sizing: border-box;
    height: 25px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #0F090B;
    background-color: #F6F4EF;
  }


  .title-category-cafam {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    align-items: center;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 130px;
    overflow: hidden;
  }

  .title-category h2 {
    color: #F6F4EF;
    font-size: 40px;
  }

  .index-container-cafam {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 10px;
    padding: 0px;
    box-sizing: border-box;
  }

  .certifications-container-cafam {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    top: 800px;
    left: 0;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .container-buttons-pagination-cafam {
    top: 1000px;
    left: 0;
  }

  .certification-card-cafam {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 250px;
    height: 220px;
    background-color: #F6F4EF;
    color: #0F090B;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
  }

  .certification-card-cafam a {
    text-decoration: none;
  }

  .container-img-card-cafam {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 100%;
    height: 89px;
    overflow: hidden;
    padding: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }

  .container-img-card-cafam img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .certification-card-cafam h3 {
    position: absolute;
    left: 20px;
    top: 80px;
    word-wrap: break-word;
    font-size: 16px;
    text-decoration: none;
    color: #0F090B;
    text-align: left;
    left: 5px;
  }

  .container-buttons-reponsive-index {
    display: none;
  }

  .tag-category-cafam {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 170px;
    left: 10px;
    font-weight: 20px;
    width: 120px;
    height: 35px;
    background-color: #5CC781;
    border-radius: 20px;
    color: #F6F4EF;
    border: 1px solid #F6F4EF;
    font-size: 14px;
  }

  .tag-platform-cafam {
    top: 170px;
    left: 140px;
  }

  .unfold-list-cafam {
    display: flex;
    position: absolute;
    text-align: left;
    font-size: 15px;
    top: 50px;
    margin-left: 40px;
    flex-direction: column;
    color: #F6F4EF;
    gap: 5px;
    overflow-y: scroll;
    transition: max-height 0.3s ease-out;

  }



  .category-item-cafam.open .unfold-list {
    max-height: 1000px;
    overflow-y: scroll;
    transition: max-height 0.4s ease-out;

  }

  .sliding-menu-index {
    display: flex;
    z-index: 999;
    position: fixed;
    left: -100%;
    top: 110px;
    width: 100%;
    height: calc(100% - 90px);
    transition: left 0.5s ease;
    padding: 20px;
    box-sizing: border-box;
    background-color: #0F090B;
    overflow-y: scroll;
  }




  .container-buttons-reponsive-index-cafam {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 300px;
    left: 0;
    height: 100px;
  }

  #button-filter {
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #F6F4EF;
  }

  .btnclose-index-responsive-menu {
    display: flex;
    position: absolute;
    right: 20px;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    z-index: 99999999;
  }

  .navigation-menu-responsive {
    width: 100%;
    position: absolute;
    top: 20px;
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
  }

  .navigation-menu-responsive ul {
    width: 100%;
    list-style: none;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .navigation-menu-responsive ul li {
    color: #F6F4EF;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .navigation-menu-responsive ul a {
    text-decoration: none;
    color: #F6F4EF;
  }



  .open {
    left: 0;
  }

  .close {
    left: -100%;
  }

  
 

  .wrapper-certifications-cafam {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }

  .button-start-now-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: #034694;
    border-radius: 30px;
    border: none;
    color: #F6F4EF;
    cursor: pointer;
    z-index: 99999;
  }
  
  .container-tags-cafam {
    top: 1700px;
  }

  

}

@media(max-width: 1040px) {

  #main-section-cafam {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
  }

  #left-wrapper-cafam {
    width: 90%;
  }

  #right-wrapper-cafam {
    width: 90%;
  }

  #title-certifications-cafam {
   width: 100%;
    left: 0;
    padding: 0;
    
}

.container-tags-cafam {
  top: 2200px;
}


  #container-pop-up-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh ;
    backdrop-filter: blur(5px);
    background-color: rgba(15, 9, 11, 0.852);
    z-index: 999999999999999999999;
  }

  #container-right-pop  {
  display: grid;
  top: 0;
  left: 0;
  position: relative;
  grid-template-rows: 30% 40% 30%;
  width: 299px;
  height: 337px;
  border-radius: 30px;
  background-color: #F6F4EF;

  } 

  #close-pop {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .wrapper-certifications {
    grid-template-columns: repeat(3, 1fr);

  }

  .container-routes-section {
    top: 2250px;
  }

  .slider-wrapper {
  }

  .card-content {
    max-width: 350px;
  }


  #wrapper-title-industry-cafam {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

 
  



@media (max-width: 1286px) {

  #upper-section-universities {
    justify-content: space-between;
    gap: 30px;
}

#lower-section-universities {
    justify-content: space-between;
    gap: 30px;
}

  .slider-item {
    width: 100px;
  }

  #wrapper-industry-cafam {
    margin-top: 250px;
  }


  #wrapper-titles-cafam {
    margin-top: 120px;
  }
  #left-wrapper-cafam button {
    width: 130px;
    height: 30px;
    border: none;
    background-color: #0750A0;
    font-size: 25px;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}

  #first-h1-left {
    font-size: 25px;
  }

  #second-h1-left {
    font-size: 25px;
  }

  #left-wrapper-cafam p {
    font-size: 18px;
    color: #002A42;
    text-align:  justify;
    margin-top: -50px;
}

  #right-wrapper-cafam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#right-wrapper-cafam img {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    max-width: 450px;
    
}

  .certifications-container-cafam {
    top: 2250px;
  }

  .title-category-cafam {
    display: flex
;
    justify-content: center;
    padding-left: 0px;
    align-items: center;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 1500px;
    overflow: hidden;
}



    

  #container-classes {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
  }

  #wrapper-slider-masterclass {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 80%;
    gap: 1px;

  }


  .card-masterclass {
  border-radius: 30px;
}

.card-masterclass img {
  border-radius: 30px;
  transform: scale(0.9);
  width: 95%;
  max-width: 100%;
  /*min-width: 50%;*/
  height: auto;
}

#wrapper-title-classes {
  padding: 0 40px;
}



  .container-buttons-pagination-cafam {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1400px;
    width: 100%;
    left: 0px;
    height: 100px;
  }

  .container-tags-cafam {
    justify-content: center;
    align-items: center;
    top: 2050px;

  }

  #grid-responsive-index-cafam {
    display: grid;
    width: 100%;
    height: auto;
    grid-auto-columns: 100%;
    grid-template-rows: auto auto;
    gap: 5px;
    overflow: visible;
  }

  .small-screen {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 200px;

  }

  #container-logo-platforms-cafam {
    height: 150px;
  }


  .sliding-menu-index {
    padding: 0;
    overflow-y: auto;
  }






  .container-routes-section {
    width: 100%;
    position: absolute;
    top: 1800px;
    left: 0;
  }

  .container-slider {
    margin-top: 130px;
  }

  

  

  

  

  .container-routes-section p {
    width: 99%;
    margin-top: 150px;
  }

  .container-slider {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 230px;
  }


  .moved-header {
    width: 100%;
  }

  #wrapper-right-column {
    padding-right: 50px;
  }


  .wrapper-search-bar-cafam.desktop-style {
    display: flex
;
    position: absolute;
    z-index: 9;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    top: 1950px;
    left: 0px;
    width: 100%;
    height: 60px;
}


  #container-fast-info {
    left: 0;
  }

  .fast-info {
    width: 230px;
    overflow-y: auto;
  }


  }
  



  @media(max-width: 690px) {
    .tag-category-cafam {
      left: 2px;
      transform: scale(0.9);
    }
    .tag-platform-cafam {
      left: 53%;
      transform: scale(0.9);
    }
  
    #wrapper-industry-cafam {
      margin-top: 420px;
    }
  
    .container-buttons-pagination-cafam {
      top: 1600px;
    }
  
  }

  


@media(max-width: 774px) {


  .tag-category-cafam {
    left: 3px;
    transform: scale(0.9);
  }
  .tag-platform-cafam {
    left: 125px;
    transform: scale(0.9);
  }

  .container-main-info {

    padding: 20px 5px;
    overflow-x: hidden;
  }

  .area-circle-object:last-child  {
    margin-right: 100px;
  }

  .div-grid-promotion {
    width: 100%;
    left: 0;
    
  }

  #promotion-grid {

    grid-template-columns: auto;
    grid-template-rows: auto auto auto ;
  }

  .div-grid-promotion img {
    width: 100%;
    max-width: 320px;
  }

  #container-classes {
    padding-left: 0;
    padding-right: 0;
    overflow-y: hidden;
  }

  #wrapper-title-classes {
    display: flex;
    padding: 0;
    margin-top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  
  #wrapper-slider-masterclass {
    width: 100%;
    align-items: center;
    justify-content: start;
    overflow-x: scroll;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 50%;
    padding: 0 10px;
    height: auto;

  }

  .card-masterclass:last-child {
    margin-right: 20px;
  }



  #wrapper-title-areas {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 12px;
  }

  #container-areas {
    overflow: hidden;
    padding: 0
  ;
    justify-content: center;
  }

  #wrapper-show-areas {
    width: 90%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 50%;
    gap: 35px;
    padding-left:70px;

    margin: 20px 0 ;
  }

  #container-fast-info {
    width: 95%;
    display: flex;
    overflow-x: auto;
    gap: 40px;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 50%;
    padding-left: 10px;
  }

  #container-fast-info > * {
    flex-shrink: 0;
    scroll-snap-align: center; 

  }

  #container-modules h2 {
    text-align: center;
  }

  #container-instructors {
    text-align: center;
    padding: 0;
  }

  #container-instructors ul {
    text-align: left;
  }

  #container-button-url-original {
    padding-left: 0;
    justify-content: center;
  }

  #container-short-description {
    padding-left: 0;
  }

  #wrapper-logo-certification {
    left: 0;
    width: 100%;
    padding: 0;
  }

  #wrapper-name-certification {
    text-align: center;
    padding-left: 0;
    font-size: 13px;
  }

  #grid-main-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    position: absolute;
    width: 100%;
    top: 150px;
    left: 0px;
    padding: 0;
    row-gap: 20px;
  }

  .container-routes-section {
    width: 100%;
    position: absolute;
    top: 2550px;
    left: 0;
  }

  .container-slider {
    margin-top: 130px;
  }

  .container-title-search {
    display: flex;
    position: absolute;
    left: 0;
    top: 0px;
    height: auto;
    height: 400px;
  }

  .container-routes-section p {
    width: 85%;
    margin-top: 150px;
  }

  .container-slider {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 230px;
  }
  .wrapper-certifications-cafam {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .certification-card-cafam {
    width: auto;
  }


}




@media(max-width: 650px) {

  #wrapper-logo-cafam{
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .certification-card-cafam {
    height: 250px;
  }

  .wrapper-certifications-cafam {
    display: grid;
    padding: 0 10px;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 5px;
    width: 100%;
    height: 100%;
    justify-items: center;
    overflow: hidden;
  }

  .certification-card-cafam h3 {
    position: absolute;
    left: 10px;
    top: 73px;
    word-wrap: break-word;
    font-size: 14px;
    text-decoration: none;
    color: #0F090B;
    text-align: left;
  }

  .tag-category-cafam {

    top: 170px;
    left: -2px;
    transform: scale(0.8);
  }

  .tag-platform-cafam {
    left: 50%;
    transform: scale(0.8);
  }




  .box-result-cafam {
    width: 100%;
    padding-bottom: 1px;

  }

  .wrapper-name-box {
    position: absolute;
    margin-top: 120px;
    width: 50%;
    text-align: center;
    flex: 1;
    color: #0F090B;
  }

  .wrapper-img-box {
    margin-top: -10px;
    margin-left: 0;
    width: 100%;
    height: 100%;
  }

  .wrapper-img-box img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 545px) {

  .title-category-cafam {
    top: 1850px;
  }

  #universities-cafam-section {
    margin-top: 50px;
    border-top-left-radius: 0;
  }

  #main-section-cafam {
    height: 700px;
  }

  #left-wrapper-cafam {
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 0;
     height: 80%;
  }
  
  #left-wrapper-cafam p {
    margin-top: 10px
  };

  #wrapper-titles-cafam {
    margin-top: 50px;
  }

  #title-certifications-cafam {
    text-align: center;
    margin-top: 10px;
  }


  .container-buttons-pagination-cafam {
    top: 2150px;
  }

  #wrapper-industry-cafam {
    margin-top: 1000px;
  }

  #wrapper-title-classes {
    display: flex;
    padding: 0;
    margin-top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  #wrapper-slider-masterclass {
    width: 100%;
    align-items: center;
    justify-content: start;
    overflow-x: scroll;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    padding: 0 20px;
    height: auto;
    gap: 10px;

  }

  .card-masterclass {
    scroll-snap-align: start;
    flex:  0 0 50%  ;
  }

  .card-masterclass img{
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .card-masterclass:last-child {
    margin-right: 20px;
  }

  #container-logo-platforms-cafam {
    padding-left: 5px;
  }

  .tag-platform-cafam {
    top: 207px;
    left: 10px;

  }
  .container-routes-section {
    width: 100%;
    position: absolute;
    top: 2650px;
    left: 0;
  }

  .wrapper-certifications {
    grid-template-columns: repeat(2, 1fr);
  }

  .certification-card-cafam h3 {
    margin-top: 30px;
  }

  .container-logo-cafam {
    width: 120px;
  }

  .tag-platform-cafam {
    transform: scale(0.9);
  }

  .tag-category-cafam {
    transform: scale(0.9);
    left: 6px;
  }

  #wrapper-new-courses img {
    width: 90%;
    height: 55px;
}

#wrapper-industry-cafam 
{
  margin-top: 1150px;
}
}

@media (min-width: 1700px) {
  .wrapper-certifications-cafam {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2000px) {
  .wrapper-certifications-cafam {
    grid-template-columns: repeat(6, 1fr);
  }

  .navigation-menu {
    left: 500px;
  }

  .wrapper-logo-nav {
    left: 100px;
  }
}





#container-certifications-interest-cafam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}



.carousel-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  
  animation: move-left linear infinite;
}



.a-image {
  width: 180px;
  height: 150px;
  margin-left: 20px;

}

.a-image img {
  width: 100%;
  height: auto;
}

@keyframes move-left {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}


/* Responsive Layout for Sidebar */
@media (max-width: 1199px) {

  .grid-layout-mobile {
    width: 100%;

  }

  #grid-main-content-cafam {
    grid-template-columns: 100% !important;
  }
  #container-certifications-interest-mobile {
      width: 100%;
      margin-top: 10px;
      flex-direction: column;
  }

  #wrapper-sideBar-certifications {
    display: flex;
    flex-direction: row;
  }

  .container-main-info-cafam {
    display: grid;
    grid-column: 1;
    justify-items: left;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 30px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    grid-row: 1;
    grid-column: 1;
  }

  #wrapper-right-column {
      display: none;
  }
}

@media (min-width: 1200px) {
  #grid-main-content-cafam.grid-layout-desktop {
      display: grid;
      grid-template-columns: 80% 20%; 
      gap: 20px;
  }
  
  
  #wrapper-sideBar-certifications {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #wrapper-right-column {
      display: flex;
      flex-direction: column;
      grid-column: 2;
      color: #0750A0;
  }

}